{% extends "Student/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
 <link rel="stylesheet" href="/static/css/styabout.css">
<body>

      <div class="inner-container">
        <h1>About us</h1>

        <h4 class="text">We are a group of students from King Saud University, We provide a web app to serve students, Through an interactive platform, It allows students to share everything that is useful to students in their academic life.
        <p>The Website is Developed by<p/>


            <p>Muath alhwaiti<p/> <p>Faisal almusalam <p/> <p>Abdullah alshomrani<p/> <p> waleed alotaibi<p/>
            <p>Supervised by:
            Prof. Khalil El Hindi<p/>

            Here you can contact us for more info:<br/>  <i class="fa fa-envelope" aria-hidden="true">
ksuers2020@gmail.com</i> </h4>

      </div>
    </div>

{% endblock %}
</body>}