{% extends "Student/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 <link rel="stylesheet" href="/static/css/styg.css">
<div class="col-md-6 offset-3 mt-3">


<article class="ss">
        <h2>Terms & Conditions:</h2>
        <br/>
<h3>Introduction: </h3>
        <br/>
        <b>1.1 </b>	We provide our services through our web app , which is available for use by ksu students.<br/>
        <b>1.2 </b>	The user access and use of the platform are subject to the terms and conditions mentioned in this document.<br/>
        <b>1.3 </b>	Logging in and using the platform by the User constitute a full agreement to these terms and conditions without limitation or condition.<br/>

        <h3> Registration in the Portal:</h3>  <br/>
        <b> 2.1 </b>	The UserID and password are selected by the User and they must be used only by the User itself.<br/>
        <b> 2.2 </b>	The User assumes responsibility for maintaining userID and the confidentiality of the password, and assumes full responsibility for any process using it on the web app. <br/>
        <b> 2.3</b>	The access of registered Users to the platform could be terminated by them at any time. Or may also, at any time, terminate, suspend or restrict the right to login to the Portal in case of violation of these terms and conditions.<br/>

<h3> User Obligations: </h3><br/>
        <b> 3.1 </b>	The user acknowledges and warranties that any provided information through the platform is complete, accurate and up to date. Also the User bears the responsibility for the content of any information or document submitted through the Portal.<br/>
        <b> 3.2 </b>	The User acknowledges and warranties that its access and use of the platform will be only for lawful purposes. The User is committed not to use the platform or what is available on it either  information, services, or tools to perform  any act considered as an offense or a crime .<br/>


<h3> Content: </h3> <br/>
<b> 4.1 </b>	The admins maintains the right to monitor any content posted by the User. reserves the right (without obligation) to delete, remove or edit any postings that violate these terms and conditions.<br/>
<b> 4.2</b>	The admins maintains the right to delete any information which it considers a violation of any of these terms and conditions of use without notice.<br/>
        <h3>Amendment: </h3>  <br/>
<b> 5.1 </b>	The admins has the right to modify these terms and conditions or replace them completely with new ones without prior notice. These changes shall become effective immediately upon posting on the platform, unless stated otherwise. The User continued access to the platform or use of the services provided by the platform shall constitute an approval to these changes. <br/>
<b> 5.2 </b>	The admins has the right to modify the whole or part of the platform or halt or suspend the platform temporarily or permanently without prior notice and at any time. <br/>
<br/><br/><br/><br/>
        </article>
</div>
</div>
{% endblock %}