{% extends "Student/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-6 offset-3">
<div class="card">
<div class="card-body">

    {% if message %}<h3 class="text-danger text-center">{{message|safe}}</h3>{% endif %}
<h4 class="card-title">Log in to your account</h4>
    <form  method="post" action="{% url 'Student:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ login_form|crispy }}
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </form>
</div>
</div>

</div>
{% endblock %}
