{% extends 'Student/base.html'%}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid mt-2">
    <div class="row">
  <div class="col-lg-3 col-md-3 col-sm-4">
        {% include 'Student/profile_card.html'%}
    </div>

    <div class="col-md-9">
        <div class="panel">
            <div class="panel-content panel-activity">
                <form  method="post" enctype="multipart/form-data" class="panel-activity__status">
                     {% csrf_token %}
                    <input type="hidden" name="student" id="id_student" value="{{student.id}}">
                    <textarea name="content" id="id_content" placeholder="Share Post and upload related files..." class="form-control" rows="4" required></textarea>
                    <div class="actions" >
                        <div class="input-group">
                            <div class="custom-file col-sm-3">
                              <input type="file" class="custom-file-input" name="file" id="id_file" multiple>
                              <label class="custom-file-label" for="id_file">Choose file</label>
                            </div>
                            <div class="custom-file col-sm-3">
                            <select class="custom-select custom-select-sm" name="course" id="id_course" required>
                              <option selected>Course</option>
                                {% for c in courses %}
                              <option value="{{c.id}}">{{c.name}}</option>
                                {% endfor %}
                            </select>
                            </div>
                            <div class="custom-file col-sm-3">
                            <select class="custom-select custom-select-sm" name="file_type" id="id_file_type" required>
                              <option selected>File Type</option>
                                {% for f in file_types %}
                              <option value="{{f.id}}">{{f.name}}</option>
                                {% endfor %}
                            </select>
                            </div>
                            <div class="input-group col-sm-3 ">
                                <button type="submit" class="btn btn-sm btn-rounded btn-primary btn-block">
                                    Post
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="panel-activity__list">
                    {% for p in posts %}
                    <li>
                        <i class="activity__list__icon fa fa-question-circle-o"></i>
                        <div class="activity__list__header">
                            <img src="{{p.student.profile_pic.url}}" alt="{{p.student.name}}" />
                            <a href="#">{{p.student.name}}</a>
                        </div>
                        <div class="activity__list__body entry-content">
                            <p>
                                {{p.content}}
                            </p>
                            {% if p.file %}
                            <a href="{{p.file.url}}" class="fa fa-file"></a>
                            {% endif %}
                        </div>
                        <div class="activity__list__footer">
                            <a href="#"> <i class="fa fa-thumbs-up"></i>{{p.likes}}</a>
                             <span> <i class="fa fa-clock"></i>{{p.publish_date}}</span>
                        </div>
                    </li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    </div>

    </div>

</div>
{% endblock %}
