<profile>
    <div class="panel rounded shadow border">
    <div class="panel-body">
        <div class="inner-all">
            <ul class="list-unstyled ">
                <li class="text-center ">
                    <h4 class="text-capitalize">{{student.email}}</h4>
                </li>
                <li>
                    <div class="btn-group-vertical btn-block">
                        <a href="/logout" class="btn btn-default border"><i class="fa fa-sign-out pull-right"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</profile>
